.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 800px;
  margin: 2rem auto;
}

.main {
  /* 1rem=16px */
  border: 1px solid rgb(231, 143, 143);
  border-radius: 3px;
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  background-color: beige;
}

.added {
  background-color: rebeccapurple;
  border-radius: 3px;
  border: none;
  margin-left: 1rem;
  color: white;
  padding: 5px 10px;
  height: 30px;
  cursor: pointer;
}
input {
  border-radius: 3px;
  padding-left: 10px;
  border: 1px soild grey;
  height: 30px;
  width: 200px;
  margin-top: 1rem;
}
input:focus,
.added:focus {
  outline: none;
}
.button {
  border-radius: 3px;
  letter-spacing: 1px;
  border: none;
  height: 35px;
  cursor: pointer;
  color: white;
  background-color: green;

  padding: 5px 10px;
  font-size: 0.6rem;
}
.button:disabled {
  background-color: grey;
  cursor: not-allowed;
}
.added:disabled {
  background-color: grey;
  cursor: not-allowed;
}
